/* line 5, ../sass/style.scss */
nav a {
  color: #ddd;
  text-decoration: none;
}
/* line 10, ../sass/style.scss */
nav .title a {
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  color: #dddddd;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
nav .title a:hover {
  color: #cccccc;
}
/* line 16, ../sass/style.scss */
nav .navigator a {
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  color: #dddddd;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
nav .navigator a:hover {
  color: #999999;
}

/* line 23, ../sass/style.scss */
.container {
  color: #333;
}
/* line 25, ../sass/style.scss */
.container a {
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  color: #0c70d0;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.container a:hover {
  color: #2490f5;
}

/* line 31, ../sass/style.scss */
footer {
  color: #999;
}
/* line 33, ../sass/style.scss */
footer a {
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  color: #999999;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
footer a:hover {
  color: #2490f5;
}
